@using Microsoft.AspNetCore.Mvc.Localization
@model object

@inject IViewLocalizer Localizer

@{
    ViewData["viewTitle"] = Localizer["winkelDescription"];
    Layout = "_Layout";
    
}

<h2>@ViewData["controllerTitle"]</h2>
<p>@ViewData["viewTitle"]</p>