@using Microsoft.AspNetCore.Mvc.Localization
@model object

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["winkelTitel"];
    Layout = "_Layout";
    
}

<h2>@ViewData["myTitle"]</h2>
<p>@ViewData["Title"]</p>
