@using Microsoft.AspNetCore.Mvc.Localization
@model List<Vlag>

@inject IViewLocalizer Localizer

@{
    ViewData["viewTitle"] = Localizer["winkelDescription"];
    Layout = "_Layout";
    
}

<h2>@ViewData["controllerTitle"]</h2>
<p>@ViewData["viewTitle"]</p>


@foreach (Vlag vlag in @Model)
{
    <div>
        <h1>@Localizer[@vlag.Naam]</h1>
        <h2>@Localizer[@String.Format("{0:C}", vlag.Prijs)]</h2>
    </div>
}



