.product{
    float: left;
    width: 27%;
    margin: 15px 2.5%;
    border: solid 1px #f2f2f2;
    height: 300px;
}

.product img{
    width: 100%;
}

.current{
    box-shadow: 6px 8px 18px rgba(0,0,0,0.3);
}