.product{
    float: left;
    width: 27%;
    margin: 15px 2.5%;
    border: solid 1px #f2f2f2;
    height: 450px;
}

.product img{
    width: 100%;
}

.current{
    border: solid 1px green;
    box-shadow: 6px 8px 16px rgba(0,0,0,0.5);
}